
package genconfig

configuration conf {
	@Ram @Runlevel(0) include embox.arch.xtensa.kernel.boot
	@Ram @Runlevel(0) include embox.arch.xtensa.kernel.arch
    @Ram @Runlevel(0) include embox.arch.xtensa.locore
    @Ram @Runlevel(0) include embox.arch.xtensa.libarch
    @Ram @Runlevel(0) include embox.arch.xtensa.kernel.context
    @Ram @Runlevel(0) include embox.arch.xtensa.vfork

	@Ram @Runlevel(0) include embox.kernel.stack(stack_size=2048,alignment=4)

	@Ram @Runlevel(0) include embox.driver.interrupt.esp8266_intc
	@Ram @Runlevel(0) include embox.driver.clock.esp8266_timer(frequency=1000)
	@Ram @Runlevel(0) include embox.driver.serial.esp8266_uart(baud_rate=115200)
	@Ram @Runlevel(0) include embox.driver.diag(impl="embox__driver__serial__esp8266_uart")

    @Ram include embox.kernel.task.task_table(task_table_size=8)
	@Ram include embox.kernel.task.multi
	@Ram include embox.kernel.task.resource.idesc_table(idesc_table_size=4)

	@Ram @Runlevel(1) include embox.kernel.timer.sys_timer(timer_quantity=4)
	@Ram @Runlevel(1) include embox.kernel.timer.strategy.head_timer
	@Ram @Runlevel(1) include embox.kernel.time.kernel_time
	@Ram @Runlevel(1) include embox.kernel.timer.itimer(itimer_quantity=4)
    @Ram @Runlevel(1) include embox.kernel.sched.strategy.priority_based
	@Ram @Runlevel(1) include embox.kernel.timer.sleep
    
    @Ram include embox.security.no_security

	@Ram include embox.kernel.lthread.lthread

	@Ram include embox.kernel.thread.core(thread_pool_size=6, thread_stack_size=3072)
	@Ram include embox.kernel.thread.signal_impl

	include embox.driver.char_dev_stub

	@Runlevel(2) include embox.cmd.shell
	include embox.init.setup_tty_diag
	@Runlevel(3) include embox.init.start_script(shell_name="diag_shell")
    
    include embox.mem.static_heap(heap_size=8192)
    include embox.mem.bitmask(page_size=1024)

	include embox.cmd.help
	include embox.cmd.sys.version
    include embox.cmd.proc.ps
    include embox.cmd.sleep
    include embox.cmd.games.race
    include embox.cmd.scanf
    include embox.cmd.oops

	include embox.kernel.critical
	include embox.kernel.irq_static
	include embox.mem.pool_adapter
    
    include embox.compat.posix.proc.vfork_stop_parent
    include embox.compat.posix.proc.exit
    include embox.compat.posix.proc.signal
    include embox.compat.posix.util.sleep
    include embox.compat.posix.pthreads

	include embox.compat.libc.stdio.print(support_floating=0)
}
