
package genconfig

configuration conf {

	//Basic configuration

	@Ram @Runlevel(0) include embox.arch.system(core_freq=160000000)
	@Ram @Runlevel(0) include embox.arch.xtensa.kernel.boot
	@Ram @Runlevel(0) include embox.arch.xtensa.kernel.arch
	@Ram @Runlevel(0) include embox.arch.xtensa.kernel.exceptions
	@Ram @Runlevel(0) include embox.arch.xtensa.kernel.interrupt
	@Ram @Runlevel(0) include embox.arch.xtensa.kernel.context
	@Ram @Runlevel(0) include embox.arch.xtensa.locore
	@Ram @Runlevel(0) include embox.arch.xtensa.libarch

	@Ram @Runlevel(0) include embox.kernel.stack(stack_size=4096, alignment=4)

	@Ram @Runlevel(0) include embox.driver.interrupt.esp8266_intc
	@Ram @Runlevel(0) include embox.driver.clock.esp8266_timer(frequency=1000)
	
	@Ram include embox.kernel.cpu.cpudata
	@Ram include embox.kernel.cpu.bkl
	
	@Ram include embox.kernel.task.multi
	@Ram include embox.kernel.task.syslib.waitpid
	
	@Ram include embox.kernel.critical
	@Ram include embox.kernel.irq
	@Ram include embox.kernel.spinlock(spin_debug=false)
	@Ram include embox.kernel.task.resource.idesc_table(idesc_table_size=4)

	@Ram @Runlevel(1) include embox.kernel.timer.sys_timer(timer_quantity=2)
	@Ram @Runlevel(1) include embox.kernel.timer.itimer(itimer_quantity=2)
	@Ram @Runlevel(1) include embox.kernel.timer.strategy.list_timer
	@Ram @Runlevel(1) include embox.kernel.time.kernel_time
	
	@Ram include embox.security.no_security

	@Ram include embox.kernel.lthread.lthread
	@Ram include embox.kernel.thread.core(thread_pool_size=4, thread_stack_size=4096)
	@Ram include embox.kernel.task.task_table(task_table_size=4)
	
	@Ram @Runlevel(1) include embox.kernel.sched.sched
	@Ram @Runlevel(1) include embox.kernel.sched.strategy.priority_based
	
	include embox.mem.static_heap(heap_size=4096)
	include embox.mem.bitmask(page_size=1024)
	
	include embox.compat.posix.proc.exit
	include embox.compat.posix.proc.signal
	
	//Shell
	
	@Ram @Runlevel(0) include embox.driver.diag(impl="embox__driver__serial__esp8266_uart")
	@Ram @Runlevel(0) include embox.driver.serial.esp8266_uart(baud_rate=115200)

	include embox.init.setup_tty_diag
	
	@Runlevel(2) include embox.cmd.shell
	@Runlevel(3) include embox.init.start_script(shell_name="diag_shell")

	include embox.cmd.help
	include embox.cmd.sys.version
	include embox.cmd.proc.ps

	include embox.compat.libc.stdio.print(support_floating=0)
	
	//IoT-ic specific:
	
	@Runlevel(1) include embox.fs.core
    @Runlevel(1) include embox.security.no_security
    
    @Runlevel(1) include embox.fs.rootfs
    @Runlevel(1) include embox.fs.driver.initfs
	
	include embox.compat.posix.proc.vfork_stub
    include embox.compat.posix.proc.exec_stub
    include embox.compat.posix.proc.exit
    include embox.compat.posix.proc.signal
    include embox.compat.posix.util.sleep
    
    include embox.compat.posix.fs.fsop
	
	include third_party.ruc
	include embox.cmd.ruc
	include embox.cmd.fs.ls
	
	//Tests
	
	/*include embox.kernel.lthread.sync.mutex
	include embox.compat.posix.util.sleep
	include embox.compat.posix.pthreads
	
	include embox.test.kernel.thread.thread_test
	include embox.test.kernel.thread.sched_strategy.general_test
	include embox.test.kernel.thread.sched_strategy.priority_based_test
	include embox.test.kernel.thread.thread_priority_test(threads_quantity=4)
	include embox.test.kernel.thread.sync.mutex_test
	include embox.test.kernel.thread.sync.concurrent_mutex_test
	include embox.test.kernel.thread.sync.priority_inheritance_test
	
	include embox.test.kernel.lthread.lthread_test
	include embox.test.kernel.lthread.lthread_sched_wait_test
	include embox.test.kernel.lthread.lthread_mutex_test
	
	include embox.test.kernel.task.multitask_test
	include embox.test.kernel.task.task
	include embox.test.kernel.task.signal
	include embox.test.kernel.task.uid*/
}
